<!DOCTYPE HTML>
<html>
<head>
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="/layout.css">

</head>
<body>

<div id="dashboard">

<div id="left">

  <div>
  <canvas id="tempChart"></canvas>
  </div>

  <div>
  <canvas id="heatChart"></canvas>
  </div>

</div> <!-- #left -->

<div id="middle">

  <div>
    <canvas id="calibChart"></canvas>

    <form id="calibPoints" action="/calib">

    <!-- Seleção do ponto de calibragem -->
    <div class="calibInputs">
    <div> 
      <p>Ponto</p>
    </div>
<% calibPointsValues.forEach((point, index) => { %>
    <div> 
      <input type="radio" data-heat="<%= point %>" value="<%= index %>" name="index"> 
    </div>
<% }) %>
    </div>

    <!-- Entrada manual de temperatura em cada ponto -->
    <div class="calibInputs">
    <div> 
      <p><input type="checkbox" id="calibManual" name="calibManual" unchecked /> <label for="calibManual">Manual</label></p>
    </div>
<% calibPointsValues.forEach((point, index) => { %>
    <div> 
      <input disabled class="manual" type="number" data-index="<%= index %>" name="cpm<%= index %>" value="25" min="0" max="666" onfocus="this.select();">
    </div>
<% }) %>
    </div>

    <!-- Carga em cada ponto de calibragem -->
    <div class="calibInputs">
    <div> 
      <p>Carga</p>
    </div>
<% calibPointsValues.forEach((point, index) => { %>
    <div> 
      <input class="heat" type="number" data-index="<%= index %>" name="cp<%= index %>" value="<%= point %>" min="0" max="255">
    </div>
<% }) %>
    </div>

    </form>

    <div id="calibButtons">
    <div>
      <button disabled class="calibButton" id="calibSwitch" data-state="0" type="button">Calibrar</button>
    </div>
    <div>
      <button disabled class="calibButton" id="calibSave" data-state="0" type="button">Salvar</button>
    </div>
    </div> <!-- #calibButtons -->
  </div>

  <div>
  <canvas id="derivChart"></canvas>
  </div>

  <div>
    <h1>Executar comando</h1>
    <form id="prompt" action="/command">
    <input type="text" name="command" placeholder="Comando" list="commands">
    <input type="submit" value="Amém">
    </form>
    <datalist id="commands">
      <option value="target">
      <option value="on">
      <option value="off">
      <option value="fan">
      <option value="heat">
      <option value="pid">
    </datalist>
  </div>

</div> <!-- #middle -->

<div id="right">

  <h1>Estado da máquina</h1>
  <div class="tables" id="state">
    <table>
    <tbody>
    <tr><td>Ativo</td><td data-id="on">Não</td></tr>
    <tr><td>Tempo ativo</td><td data-id="elapsed">0</td></tr>
    <tr><td>Fan</td><td data-id="fan">0</td></tr>
    <tr><td>Target</td><td data-id="target">0</td></tr>
    <tr><td>Interna</td><td data-id="core">0</td></tr>
    <tr><td>Externa</td><td data-id="ex">0</td></tr>
    <tr><td>Sonda</td><td data-id="probe">0</td></tr>
    <tr><td>PID ativo</td><td data-id="pid_enabled">Sim</td></tr>
    <tr><td>PID[0]</td><td data-id="pid0">0</td></tr>
    <tr><td>PID[1]</td><td data-id="pid1">0</td></tr>
    <tr><td>PID[2]</td><td data-id="pid2">0</td></tr>
    <tr><td>Carga</td><td data-id="heat">0</td></tr>
    <tr><td>Autostop</td><td data-id="autostop">Sim</td></tr>
    <tr><td>sStop[0]</td><td data-id="sstop0">0</td></tr>
    <tr><td>sStop[1]</td><td data-id="sstop1">0</td></tr>
    <tr><td>Passo do giro</td><td data-id="tempstep">10</td></tr>
    <tr><td>Descanso de tela</td><td data-id="screensaver">Sim</td></tr>
    </tbody>
    </table>
  </div>

  <h1>Definições</h1>
  <div class="tables" id="settings">
    <table>
    <tbody>
    <tr><td>cTemp[0]</td><td data-id="cTemp0">0</td></tr>
    <tr><td>cTemp[1]</td><td data-id="cTemp1">0</td></tr>
    <tr><td>cTemp[2]</td><td data-id="cTemp2">0</td></tr>
    <tr><td>cTemp[3]</td><td data-id="cTemp3">0</td></tr>
    <tr><td>cPID[0]</td><td data-id="cPID0">0</td></tr>
    <tr><td>cPID[1]</td><td data-id="cPID1">0</td></tr>
    <tr><td>cPID[2]</td><td data-id="cPID2">0</td></tr>
    <tr><td>cStop[0]</td><td data-id="cstop0">0</td></tr>
    <tr><td>cStop[1]</td><td data-id="cstop1">0</td></tr>
    </tbody>
    </table>
  </div>

  <div style="margin-top: 4em; text-align: center">
  <img src="/desenho.svg" alt="Vapomatic">
  </div>

</div> <!-- #right -->

</div> <!-- #dashboard -->

<script src="/chart.umd.js"></script>
<script src="/setup.js"></script>


</body>
</html>
