<!DOCTYPE HTML>
<html>
<head>
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="/layout.css">

</head>
<body>

<div id="dashboard">

<div id="left">

  <div>
  <canvas id="tempChart"></canvas>
  </div>

  <div>
  <canvas id="heatChart"></canvas>
  </div>

</div>

<div id="middle">

  <p> <img src="/desenho.svg" alt="Vapomatic" > </p>

  <div id="state">
    <table>
    <tr><td>Ativo</td><td data-id="on">Não</td></tr>
    <tr><td>Tempo ativo</td><td data-id="elapsed">0</td></tr>
    <tr><td>Fan</td><td data-id="fan">Não</td></tr>
    <tr><td>Target</td><td data-id="target">0</td></tr>
    <tr><td>Interna</td><td data-id="core">0</td></tr>
    <tr><td>Externa</td><td data-id="ex">0</td></tr>
    <tr><td>Sonda</td><td data-id="probe">0</td></tr>
    </table>

    <table>
    <tr><td>PID[0]</td><td data-id="pid0">0</td></tr>
    <tr><td>PID[1]</td><td data-id="pid1">0</td></tr>
    <tr><td>PID[2]</td><td data-id="pid2">0</td></tr>
    <tr><td>Carga</td><td data-id="heat">0</td></tr>
    </table>
  </div>

  <div>
    <form id="prompt" action="/command">
    <p> <input type="text" name="command" placeholder="Comando" list="commands"> </p>
    <p> <input type="submit" value="Amém"> </p>
    </form>
    <datalist id="commands">
      <option value="target">
      <option value="on">
      <option value="off">
      <option value="fan">
      <option value="heat">
      <option value="pid">
    </datalist>
  </div>

</div>

<div id="right">

  <div>
    <canvas id="calibChart"></canvas>

    <form id="calibPoints" action="/calib">
<% calibPointsValues.forEach((point, index) => { %>
    <div style="text-align: center;"> 
      <input type="number" data-index="<%= index %>" name="cp<%= index %>" value="<%= point %>" min="0" max="255"> <br>
      <input type="radio" value="<%= index %>" name="index"> 
    </div>
<% }) %>
    </form>

    <div id="calibButtons">
    <div>
      <button id="calibSwitch" data-state="0" type="button" disabled="true">Calibrar</button>
    </div>
    <div>
      <button id="calibSave" data-state="0" type="button" disabled="true">Salvar</button>
    </div>
    </div> <!-- #calibButtons -->
  </div>

  <div>
  <canvas id="derivChart"></canvas>
  </div>

</div>

</div> <!-- #dashboard -->

<script src="/chart.umd.js"></script>
<script src="/setup.js"></script>


</body>
</html>
